h1 {
    margin: 10px 0;
    text-align: center;
}

button
// input[type='file'] {
 {
    padding: 5px;
    margin: 0 2px;
    &:hover {
        filter: brightness(85%);
    }
}

.flex {
    display: flex;
}

.flex-column {
    @extend .flex;
    flex-direction: column;
}

.flex-row {
    @extend .flex;
    flex-direction: row;
}

.space-between {
    @extend .flex;
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

//transitions form ConfirmDeleteModal
.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
