h1 {
    margin: 10px 0;
    text-align: center;
}

button
// input[type='file'] {
 {
    padding: 5px;
    margin: 0 2px;
}

.flex {
    display: flex;
}

.flex-column {
    @extend .flex;
    flex-direction: column;
}

.flex-row {
    @extend .flex;
    flex-direction: row;
}

.space-between {
    @extend .flex;
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
    align-items: center;
}
